@font-face {
  font-family: 'Nexa';
  src: url('fontes/Nexa-Heavy.ttf') format('truetype');
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nexa;
  -webkit-user-drag: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

}

/* HEADER */
header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(10, 10, 10, 0.75);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

/* NAVBAR */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 2%;
  width: 100%;        /* ocupa tudo */
  margin: 0;          /* remove centralização */
}
/* LOGO */
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: 50px;
  background: url(./logo/4134175-removebg-preview.png) center/contain no-repeat;
}

.h1peda {
  font-size: 1.6rem;
  color: #fa0000;
  font-weight: 700;
  letter-spacing: 0.5px;
}

/* MENU */
.adiv {
  display: flex;
  gap: 2.5rem;
  margin-left: auto;
  margin-right: 30px; /* empurra pra direita */
  text-transform: capitalize;
}

.adiv a {
  color: #ffffff;
  font-size: 0.8rem;
  position: relative;
  transition: 0.3s;
}

/* hover linha animada */
.adiv a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background: #ff6b6b;
  transition: 0.3s ease;
}

.adiv a:hover {
  color: #ff6b6b;
}

.adiv a:hover::after {
  width: 100%;
}

/* DIREITA */
.right {
  display: flex;
  align-items: center;
}

/* BOTÃO */
.anavbar {
  background: linear-gradient(135deg, #ff4d4d, #ff6b6b);
  color: white;
  padding: 10px 20px;
  border-radius: 999px;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: all 0.25s ease;
  box-shadow: 0 5px 15px rgba(255, 77, 77, 0.35);
}

.anavbar:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 25px rgba(253, 3, 3, 0.5);
  color: wheat;
}

.anavbar a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;

}

/* MAIN */
main {
  flex: 1;
}

/* HERO (FUNDO) */
.section-container {
  min-height: calc(100vh - 79px);
  display: flex;
  padding: 0 1%;
  background-color: #ecebb7;
}

/* overlay (ESSENCIAL) */
.section-container::before {
  content: "";
  position: absolute;
  inset: 0;
}

.main-div-texts{
  
}



.button-click-scroll{
    width: 50px;
    height: 50px;
    background-image: url(imagens/318474-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: rotate(90deg);    
}


@media (max-width: 768px) {
  .active-div-main {
    flex-direction: column;
    text-align: center;
  }

  .image-active,
  .container {
    width: 100%;
  }

  #imgpedagoga {
    max-height: 300px;
  }

  .container button {
    margin: 0 auto;
  }
}
